body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#map {
  width: 100%;
  height: 100%;
}
.control-panel {
  position: absolute;
  top: 0;
  right: 0;
}

label {
  display: inline-block;
  width: 150px;
}

input {
  margin-left: 20px;
}

.input.disabled {
  opacity: .5;
  cursor: not-allowed;
}